@tailwind base;
@tailwind components;
@tailwind utilities;

/*background should always be white, black text*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.bg-stock-charity {
  background-image: url('/photos/stockphotoforstockcharity.jpeg');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
h1 {
  @apply text-4xl font-bold text-black;
}

h2 {
  @apply text-3xl font-semibold text-black;
}

h3 {
  @apply text-2xl font-medium text-black;
}


/*  Button Variants */
.btn-primary {
  @apply text-sm rounded-md font-bold text-white border-2 border-[#007bff] bg-[#007bff] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff];
}

.btn-secondary {
  @apply bg-gray-600 text-white hover:bg-gray-500 focus:ring-gray-600;
}

.btn-login {
  @apply text-sm rounded-md font-bold text-white border-2 border-[#007bff] bg-[#007bff] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff];
}

/* Greyed-Out Cardholder Styling */
.card-grey {
  @apply bg-gray-200 rounded-lg shadow-md p-4 flex items-center justify-center text-gray-500;
}

@layer components {
  .label-style {
    @apply block text-sm font-semibold text-gray-900;
  }

  .input-style {
    @apply block w-full rounded-md border border-gray-300 bg-white px-3.5 py-2 text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2;

  }

  table {
    @apply w-full
  }

  table>thead>tr>th {
    @apply border-2 p-1
  }

  table>tbody>tr>td {
    @apply border-2 p-1
  }
}

/* Forms */

@layer components {
  form .error {
    @apply text-red-600
  }
}
